.weatherContainer {
    width: 500px;
    height: 500px;
    margin: 50px auto;
  }

  @media (max-width: 567px) {
    body{
      width: 400px;
      height: auto;
    }
    
    .weatherContainer {
      width: 330px;
      height: 500px;
      margin: 10px auto;
    }
  }